div {
    margin-bottom: 25px;
}
.box1 {
    color: white;
    background-color: black;
}
.box2 {
    background-color:dimgray ;
}
.box3 {
    background-color: silver;
    color: black;
}
.box4 {
    background-color: red;
}
.box5 {
    background-color: blue;
}