body {
    font-family: sans-serif;
}
.box {
    display: flex;
}
.box2 {
    background-color: silver;
    height: 598px;
    width: 50%;
}
.box3 {
    background-color: whitesmoke;
    width: 50%;
}