body {
    margin: 0%;
}
.box1 {
    background-color: black;
    height: 31vh;
    width: 100%;
}
.box2 {
    background-color: red;
    color: red;
    height: 35vh;
    width: 100%;
}
.box3 {
    background-color: yellow;
    color: yellow;
    height: 34vh;
    width: 100%;
}